.App {
  text-align: center;
}
.todo-app {
  background-color: #efefef;
  padding: 1.2em;
  .new-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    button {
      flex-shrink: 0;
    }
  }
}

.author {
  position: fixed;
  bottom: 8px;
  right: 8px;
  color: grey;
  font-style: italic;
  font-size: 14px;
}

//.list-group-item{
//  &.active:hover{
//
//  }
//  &active:hover{
//    background-color: #d3d3d3;
//  }
//}